.container {
    background: orange;
    max-width: 800px;
    margin: 0 ;
}
.header{
    background: purple;
    height: 60px;

}
.wrapper{
    background:blue;
    flex-direction: row;
    display: flex;
}
.menu{
    background: green;
    width: 30%;

}
.content{
    background: aqua;
    width: 70%;

}
.footer{
    background: pink;
 
}